[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"],version = "*"}
aiohttp = "*"
websockets = "*"
youtube-dl = "*"
requests = "*"
asyncio = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.6"
